argcomplete==3.5.2
cfgv==3.4.0
charset-normalizer==3.4.0
colorama==0.4.6
commitizen==4.1.0
decli==0.6.2
distlib==0.3.9
filelock==3.16.1
identify==2.6.3
iniconfig==2.0.0
Jinja2==3.1.4
MarkupSafe==3.0.2
nodeenv==1.9.1
packaging==24.2
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.0.1
prompt-toolkit==3.0.36
pytest==8.3.4
PyYAML==6.0.2
questionary==2.0.1
termcolor==2.5.0
tomlkit==0.13.2
virtualenv==20.28.0
wcwidth==0.2.13
